
.container-slide{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px; 
}


.container-image-banner{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   padding: 12px;
}

.img-banner{
    height:380px;
    width: 40%;
    border-radius: 12px;
}

@media screen and (max-width:950px){
    .container-slide{
        max-height: 480px;
    }
    .container-image-banner .img-banner{
        width: 100%;
    }
}